@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #bcd3ff;
    --branco: #bedcf5;
    --laranja: #286570;
    --azul-degrade: linear-gradient(97.54deg, #1a143a 35.49%, #74bbee 165.37%);
    --fonte-principal: "Poppins";
    --azul: #a416b1;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}